@font-face {
  font-family: 'iconfont';  /* Project id 2576619 */
  src: url('//at.alicdn.com/t/font_2576619_za3dmobfaw.woff2?t=1622170176951') format('woff2'),
       url('//at.alicdn.com/t/font_2576619_za3dmobfaw.woff?t=1622170176951') format('woff'),
       url('//at.alicdn.com/t/font_2576619_za3dmobfaw.ttf?t=1622170176951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}