@font-face {
  font-family: 'iconfont';  /* Project id 2576619 */
  src: url('//at.alicdn.com/t/font_2576619_tq8l6wsxrcj.woff2?t=1622684902814') format('woff2'),
       url('//at.alicdn.com/t/font_2576619_tq8l6wsxrcj.woff?t=1622684902814') format('woff'),
       url('//at.alicdn.com/t/font_2576619_tq8l6wsxrcj.ttf?t=1622684902814') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}